<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="container">
    <h3>Book Ticket</h3>
    <form action="#" th:action="@{book}" th:object="${ticket}" method="post">
        <input class="form-control mb-4 col-4" type="text"  th:field="*{amount}" placeholder="Amount">
        <input class="form-control mb-4 col-4" type="text"  th:field="*{category}" placeholder="Category">

        <button class="btn btn-info col-2" type="submit">Save</button>


    </form>
</div>

</body>
</html>